@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #e3e3f3;
  --color-navy-blue: #3f56a4;
  --color-light-purple: #9ca4cd;
  --color-dark-purple: #8494c3;
}

button {
  cursor: pointer;
}